@model ProductDetailsModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Services.Localization;
@using Nop.Web.Framework.Themes
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(storeName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(storeName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Model.MetaDescription) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
    
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, });

    int avgRating = 0;
    if (Model.ProductReviewOverview.TotalReviews != 0)
    {
        avgRating = Model.ProductReviewOverview.RatingSum / Model.ProductReviewOverview.TotalReviews;
    }

    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
}
<div class="page product-details-page">
    <div class="page-body">
        @Html.Widget("productdetails_top", Model.Id)
        @using (Html.BeginRouteForm("Product", new {SeName = Model.SeName}, FormMethod.Post, new {id = "product-details-form"}))
        {
            <h2>@Model.Name</h2>
            <div class="prod-top-part">
                @Html.Partial("_ProductDetailsPictures", Model)
                <div class="product-additional">
                    <div class="price">
                        @Model.ProductPrice.Price
                    </div>
                    @{
                        var dataDictAddToCart = new ViewDataDictionary();
                        dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                        @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)
                    }
                    <div class="rating">
                        @for (var i = 0; i < avgRating; i++)
                        {
                            <img src="@Url.Content("~/Themes/" + currentThemeName + "/Content/img/rating-full.png")">
                        }
                        @for (var i = avgRating; i < 5; i++)
                        {
                            <img src="@Url.Content("~/Themes/" + currentThemeName + "/Content/img/rating-empty.png")">
                        }
                    </div> 
                    <div class="feedback">@Model.ProductReviewOverview.TotalReviews @T("Reviews.Overview.Reviews")</div> | 
                    <a href="@Url.RouteUrl("ProductReviews", new {productId = Model.ProductReviewOverview.ProductId})">@T("Reviews.Overview.AddNew")</a>
                </div>
            </div>
        }
        <div class="description">
            @Html.Raw(Model.FullDescription)
        </div>
        @if (Model.ProductReviews.Items.Count > 0)
        {
        <div class="reviews">
            <h2>Отзывы о товаре</h2>
            <ul class="feedbacks">
                @foreach (var review in Model.ProductReviews.Items)
                {
                    <li>
                        <div class="rating">
                            @for (var i = 0; i < review.Rating; i++)
                            {
                                <img src="@Url.Content("~/Themes/" + currentThemeName + "/Content/img/rating-full.png")">
                            }
                            @for (var i = review.Rating; i < 5; i++)
                            {
                                <img src="@Url.Content("~/Themes/" + currentThemeName + "/Content/img/rating-empty.png")">
                            }
                        </div>
                        <div class="meta">
                            от <span class="author">@(review.CustomerName)</span> | Дата: <span class="feedback-date">@review.WrittenOnStr</span>
                        </div>
                        <div class="text">
                            @review.Title <br />
                            @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
                        </div>
                    </li>
                }
            </ul>
        </div>
        }
    </div>
</div>
@Html.Action("ProductsAlsoPurchased", "Product", new {productId = Model.Id})
@Html.Action("RelatedProducts", "Product", new {productId = Model.Id})