@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@{
    Layout = "~/Views/Shared/_Root.Head.cshtml"; 
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter28753321 = new Ya.Metrika({
                    id: 28753321,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/28753321" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<div class="wrapper">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div class="master-wrapper-content">
        <script type="text/javascript">
            AjaxCart.init(false, '.menu .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
        <div class="container">
            @Html.Action("HeaderLinks", "Common")
        </div>
        @Html.Partial("Header")
        @Html.Widget("content_before")
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        <div class="master-wrapper-main">
            <div id="content">
                @RenderBody()
            </div>
        </div>
        @Html.Widget("content_after")
    </div>
    <div class="page-buffer"></div>
</div>
@Html.Action("Footer", "Common")
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")
