@{
    Layout = "";
}
@model Nop.Plugin.Widgets.VkCommunity.Models.ConfigurationModel
@using System.Web.Mvc.Html
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.VkCommunity.Code")</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.VkCode_OverrideForStore, model => model.VkCode, Model.ActiveStoreScopeConfiguration)
                    @Html.NopLabelFor(model => model.VkCode):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.VkCode)
                    @Html.ValidationMessageFor(model => model.VkCode)
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
}